#resource
{
	width: 600px;
	margin: 0 auto;
	border-style: solid;
	border-width: medium;
	border-color: green;
}

#property
{
	width: 600px;
}

label
{
	float: left;
	color: red;
	width: auto;
	padding-right: 5px;
}

#value
{
	display: block;
	color:black;
	height:auto;
}

.thumbnail
{
	margin: auto;
	border-style: solid;
	border-width: medium;
	border-color: green;
}

.thumbnail img
{
	margin:  auto;
	border-style: solid;
	border-width: medium;
	border-color: red;
	max-width:200px;
	max-height:200px;
}

